@-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }  
@viewport { width: 100vw ; min-zoom: 100% zoom: 100% ; }
@-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }           
@viewport { user-zoom: fixed ; min-zoom: 100% ; }

html{ height: 100%; }
body{ font-family: 'Lato', sans-serif; color: #fff; position: absolute; top: 0; left: 0; width: 100%; height: 100%; margin: 0; background: #003311; background-color: #aca; }
/*table {border: 1px solid black;}*/
td button{ 
	width: 100%; 
	height: 100%; 
	background-color: white; 
	margin: 1px; 
	text-align: center; 
	border-radius: 0.5em; 
	border-style: none;
	font-size: 0.5em;
}
/*general properties*/
.hidden {
	display: none;
}

/*screen elements*/
#background {
position: absolute; width: 100%; height:100%; background-color: transparent; overflow: hidden;
}

/*footer*/
 #header {
position: absolute; left: 0; width: 100%; height: 10%; overflow: hidden; background: rgba(0, 0, 0, 0.4);
}
#header { top: 0;}
#footer { bottom: 0;}

.game, .levels, .options{

}
 
#main {
	display: table;
	text-align: center;
	vertical-align: middle;

	position: absolute; 
	bottom: 10%;
	left: 0;
	width: 100%;
	height: 80%; 
	background-color: transparent;	
}

/*.game table:before {
  content: '\200B';
  margin-left: -0.25em; 
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }
*/

#outer-game {
	width: 100%;
	height: 100%;
	border: 1px solid red;
}
#outer-game-td {
	border: 1px solid blue;
/*	width: 100%;
	height: 100%;
*/	vertical-align: middle;
	text-align: center;
}

#board {
	margin: auto;
	font-family: monospace;
}

#board td {
	width: 1em;
	height: 1em;
}

.game{background-color: rgba(255, 255, 255, 0.4); overflow: hidden;}
.levels{background-color: rgba(255, 0, 255, 0.4); overflow: auto;}
.options{background-color: rgba(255, 255, 0, 0.4); overflow: hidden;}

#timer {
	position: absolute;
	left: 5px;
}

#misses {
	position: absolute;
	left: 40%;
}


.footer {
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 10%;
overflow: hidden;
background: rgba(0, 0, 0, 0.4);
}

.footer div{
display: table;
position: absolute;
top: 5%;
height: 90%;
background: white;
width: 32%;
text-align: center;
font-family: myfont;
font-size: 1em;
color: #000;
border-radius: 5px;
border-style: none;

}

.footer div:before {
  content: '\200B';
   /*content: '';*/
  margin-left: -0.25em; 
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }

#gameButton{
left: 1%;
}
#levelsButton {
    left: 34%;
}
#optionsButton {
right: 1%;
}










